



body{
    display: grid;
    font-size: 1 em;
    min-height: 100vh;
    /*background-color: darkgreen;*/
    grid-gap: 0.5em;
    grid-template-rows: 2em auto auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'nav nav'
                         'main  aside'
                         'footer  footer'
                                          }
.logo{
    
    padding: 7px 20px;
}

nav{
 /*Main menu stile*/
    grid-area: nav;
    background-color: darkgreen;
    color: whitesmoke;
    padding: 0;
    display: flex;
    gap: 80px;

 
}

span a:not(li a){
all: unset;
}

nav span a:hover{
    cursor: pointer;
    color: green;
    
}

nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 40px;
}

 ul li{
    position: relative; /*Necessary for submenu*/
    
}

nav ul li a:first-child:hover{ /*nav ul li a:first-child:hover*/
  
  color: green;   
}


 ul li a{
    display: block;
    padding: 7px 20px;
    color: whitesmoke;
    text-decoration: none;
 
    /*transition: all 06.s ease;*/
}

 ul li a:hover{
/*background: grey;*/
/*color: rgb(176, 239, 176);*/
text-shadow: 3px 3px 8px rgba(215, 62, 192, 0.5);



}

/*Submenu style*/
 ul li ul{
    display: none; /*hide submenu*/
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(229, 237, 217);
    min-width: 165px;
    flex-direction: column;
}

 ul li ul li a{
    padding: 10px 15px;
    color: black;
    font-size: 0.7em;
}

 ul li:hover > ul{
    display: block; /*Show on mouse hover*/
}

.submenu{
    display: flex;
    padding: 7px 20px;
    gap: 85px;
    margin-left: 170px;
}

.submenu:hover{
    cursor: pointer;
}

main{
    grid-area: main;
    /*background-color: chocolate;*/
}

main .Contact_us p{
    text-align: center;
    color: darkgreen;
}
.image_container{
   
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content:space-around;
}

img{
    /*width: 500px;
    height: 250px;*/
    border: 2px solid darkolivegreen;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(65, 194, 75, 0.5);

}

figcaption{
    font-style: italic;
    margin-top: 8px;
    color: darkgreen;
}
aside{
    background-color: antiquewhite;
    text-align: center;
    color: darkgreen;
}

aside button{
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
    width: 90px;
    height: 30px;
    border: 2px solid white;
    margin: 10px;
}

.footer{
    grid-area: footer;
    background-color: darkgreen;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

footer ul li{
    margin-top: 5px;
}
.social{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.contact{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

footer ul li:hover{
    cursor: pointer;
    color: green;
}


/* https://www.southeastpet.com/retailers  tomar como referencia
formula 420
* /

/* Definir areas: entre comillas ponermos las filas y para las columnas 
las separamos por espacios y le ponemos un nombbre
ejempl: "header header" ahi tenemos una fila y dos columnas llamadas header  */