



body{
    display: grid;
    font-size: 1 em;
    min-height: 100vh;
    grid-gap: 0.5em;
    grid-template-rows: 2em 1fr 6em;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'nav nav'
                         'main  aside'
                         'footer  footer'
     

}

.logo{
    padding: 12px 20px;
}
nav{
 /*Main menu stile*/
    grid-area: nav;
    background-color: darkgreen;
    color: whitesmoke;
    padding: 0;
    display: flex;
 
}

nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li{
    position: relative; /*Necessary for submenu*/
}

nav ul li a{
    display: block;
    padding: 12px 20px;
    color: whitesmoke;
    text-decoration: none;
}

nav ul li a:hover{
background: grey;
}

/*Submenu style*/
nav ul li ul{
    display: none; /*hide submenu*/
    position: absolute;
    top: 100%;
    left: 0;
    background: grey;
    min-width: 200px;
    flex-direction: column;
}

nav ul li ul li a{
    padding: 10px 15px;
}

nav ul li:hover > ul{
    display: block; /*Show on mouse hover*/
}

.submenu{
    display: flex;
    padding: 10px 20px;
    gap: 40px;
    margin-left: 200px;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
    background-color: darkgreen;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
}
.social{
    list-style: none;
   /* display: flex;*/
    margin: 0;
    padding: 0;
    /*gap: 60px;*/
}

.contact{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Definir areas: entre comillas ponermos las filas y para las columnas 
las separamos por espacios y le ponemos un nombbre
ejempl: "header header" ahi tenemos una fila y dos columnas llamadas header  */